<a href="https://colab.research.google.com/github/Gursewak-S/Python/blob/main/Day_9_11_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Set
# datatype
# Unique element
# no index

myset = ({}) #empty set

In [7]:
myset = {10,20,10,10,500,20,604}
print(myset)

{10, 20, 500, 604}

In [8]:
myset.add(2000)
print(myset)

{10, 2000, 20, 500, 604}

In [10]:
myset.remove(200) # in remove if element is not in set it will show error so we use discard
print(myset)

KeyError: 200

In [11]:
myset.discard(200) # it delete element and if not available it will discard the process
print(myset)

{10, 20, 500, 604}

In [18]:
myset.pop()
print(myset)

{40, 10, 300, 20, 500, 604}

In [13]:
myset.update([100,300,40])
print(myset)

{100, 40, 10, 300, 20, 500, 604}

In [19]:
myset ={1,2,3}
myset2 = {4,5,6,7}
myset.union(myset2)

{1, 2, 3, 4, 5, 6, 7}

In [32]:
myset ={1,2,3,4}
myset2 = {3,4,6,7}
print(myset.difference(myset2))
print(myset, myset2)

{1, 2}
{1, 2, 3, 4} {3, 4, 6, 7}

In [35]:
myset ={3,4,5,6}
myset2 = {5,6,7}
myset.difference_update(myset2)
print(myset, myset2)

{3, 4} {5, 6, 7}

In [36]:
# issuperset, symmetric_difference, isdisjoined

In [41]:
myset ={3,4,5,6,8,9}
myset2 = {3,4,5,6}
myset.issuperset(myset2)  #check if myset has all element present in myset2

True

In [42]:
myset ={3,4,5,6,8,9}
myset2 = {3,4,5,6}
myset.symmetric_difference(myset2) #check which element is in myset and not present in myset2

{8, 9}

In [45]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y) # Return True if no items in set x is present in set y:

print(z)

True

In [47]:
s1 ={3,4,5,6,8,9}
s2 = {3,4,5,6}
s1 = s1.intersection(s2)
print(s1)

{3, 4, 5, 6}

In [ ]:
# Python has a set of built-in methods that you can use on sets.

# Method		              Description
# add()	                	Adds an element to the set
# clear()	      	        Removes all the elements from the set
# copy()	 	              Returns a copy of the set
# difference()	        	Returns a set containing the difference between two or more sets
# difference_update()	  	Removes the items in this set that are also included in another, specified set
# discard()	 	            Remove the specified item
# intersection()	    	  Returns a set, that is the intersection of two other sets
# intersection_update()	  Removes the items in this set that are not present in other, specified set(s)
# isdisjoint()	 	        Returns whether two sets have a intersection or not
# issubset()	  	        Returns whether another set contains this set or not
#  	                    	Returns whether all items in this set is present in other, specified set(s)
# issuperset()	         	Returns whether this set contains another set or not
#  	                    	Returns whether all items in other, specified set(s) is present in this set
# pop()	 	                Removes an element from the set
# remove()	 	            Removes the specified element
# symmetric_difference()  Returns a set with the symmetric differences of two sets
# symmetric_difference_update()	   	Inserts the symmetric differences from this set and another
# union()	                        	Return a set containing the union of sets
# update()	                      	Update the set with the union of this set and others