<a href="https://colab.research.google.com/github/Gursewak-S/Python/blob/main/Day_6_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# List Datatype
# Collection of element
# stored based on index position
# list mutuable database
# sequence datatype

x=[10,20,30,"hey",100.1]
print(type(x))

<class 'list'>

In [ ]:
mylist=[10,20,30,"hey",100.1]
print(mylist[0])

10

In [ ]:
mylist=[10,20,30,"hey",100.1]
print(mylist[1:5])

[20, 30, 'hey', 100.1]

In [ ]:
mylist=[10,20,30,"hey",100.1]
print(mylist[-1])

100.1
adfg

In [ ]:
mylist=[10,20,30,"hey",100.1]
print(mylist[0])

10

In [ ]:
mylist=[10,20,30,"hey",100.1]
mylist[2]=90   #update
print(mylist)

[10, 20, 90, 'hey', 100.1]

In [ ]:
mylist=[10,20,30,"hey",100.1]
mylist.append(400)       # add new data into list
print(mylist)

[10, 20, 30, 'hey', 100.1, 400]

In [ ]:
mylist=[10,20,30,"hey",100.1]
mylist.extend("hello")       # to add multiple value into it but it will not add Integer value
mylist.extend([999,"hello"]) # this happen because extend uses for loop to add value in list as into extend data-
                            # -is written in list it takes index of that list not single char

# mylist.extend(12) # this will show error it will not take integer value

print(mylist)

[10, 20, 30, 'hey', 100.1, 'h', 'e', 'l', 'l', 'o', 999, 'hello']

In [22]:
mylist=[10,20,30,"hey",10, 50,10]
x = mylist.count(10)   # The count() method returns the number of elements with the specified value.
print(x)

3

In [ ]:
mylist=[10,20,30,"hey",100.1]
mylist.pop()
print(mylist)

[10, 20, 30, 'hey']

In [ ]:
mylist=[10,20,30,"hey",100.1]
mylist.pop(2)
print(mylist)

[10, 20, 'hey', 100.1]

In [ ]:
mylist=[10,20,30,"hey",100.1]
x = mylist.pop()
print(mylist)
print(x)

[10, 20, 30, 'hey']
100.1

In [ ]:
mylist=[10,20,30,"hey",100.1]
mylist.remove(20) # In remove we give value and in pop we give index
print(mylist)

[10, 30, 'hey', 100.1]

In [ ]:
mylist=[10,20,30,"hey",100.1]
mylist.insert(2,500)  # insert is used to add value in certain index
print(mylist)

[10, 20, 500, 30, 'hey', 100.1]

In [1]:
# del Keyword: The del keyword also removes the specified index:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [3]:
thislist = ["apple", "banana", "cherry"]
del thislist       # this removes complete list as no index was given
print(thislist)

NameError: name 'thislist' is not defined

In [4]:
# clear() : The clear() method empties the list.
# The list still remains, but it has no content.

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [14]:
mylist=[10,5,50,45]
mylist.sort() # sort only work when data in list is of one datatype like only int value or only string value
print(mylist)

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[5, 10, 45, 50]
['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[100, 82, 65, 50, 23]

In [15]:
# Reverse Order
# What if you want to reverse the order of a list, regardless of the alphabet?

# The reverse() method reverses the current sorting order of the elements.

thislist = [100, 50, 65, 82, 23]
thislist.reverse()
print(thislist)

[23, 82, 65, 50, 100]

In [18]:
# copy() method
# You can use the built-in List method copy() to copy a list.

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

# Use the list() method
# Another way to make a copy is to use the built-in method list().

this = ["apple", "banana", "cherry"]
mylist = list(this)
print(mylist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [19]:
# Join Two Lists
# There are several ways to join, or concatenate, two or more lists in Python.

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

# Another way to join two lists is by appending all the items from list2 into list1, one by one:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

# Or you can use the extend() method, where the purpose is to add elements from one list to another list:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [11]:
# List Comprehension
# List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

# The Syntax
# newlist = [expression for item in iterable if condition == True]

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]
print(newlist)

newlist = [x for x in fruits if x != "apple"]
print(newlist)

newlist = [x for x in fruits]
print(newlist)

newlist = [x.upper() for x in fruits]
print(newlist)

newlist = ['hello' for x in fruits]
print(newlist)

['apple', 'banana', 'mango']
['banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['hello', 'hello', 'hello', 'hello', 'hello']

In [10]:
new = [x for x in range(10) if x < 5]
print(new)

[0, 1, 2, 3, 4]

In [ ]:
mylist=[10,20,30,"hey",100.1]
for i in mylist:
  print(i)

10
20
30
hey
100.1

In [ ]:
mylist=[10,20,30,"hey",100.1]
for i in range(0,len(mylist)):
  print(i, mylist[i])

0 10
1 20
2 30
3 hey
4 100.1

In [ ]:
mylist=[10,20,30,"hey",100.1,45]
for i in range(0,len(mylist)):
  if(type(mylist[i])==int):
    print(i, mylist[i])

0 10
1 20
2 30
5 45

In [ ]:
mylist=[10,20,4,7,5,12]

for i in range(0,len(mylist)-1):
  if(mylist[i]> mylist[i+1]):
    print(mylist[i])

20
7

In [ ]:
mylist=[10,20,4,70,500,12,850]

for i in range(0,1):
  for j in range(i+1,len(mylist)):
    if(mylist[i]< mylist[j]):
      temp=mylist[i]
      mylist[i] =mylist[j]
      mylist[j] = temp
print(mylist)

[850, 10, 4, 20, 70, 12, 500]

In [ ]:
# Another way of solving above question

mylist=[10,20,4,70,500,12,850]
maxi = mylist[0]

for i in range(0,len(mylist)):
  if(mylist[i]> maxi):
    maxi=mylist[i]

print(maxi)

850

In [ ]:
# Find second largest no
list2 = [10,30,500,70,60,40,100]

x= list2[0]
y=0

for i in range(0,len(list2)):
  if(list2[i]>x):
    y=x
    x=list2[i]
  elif(list2[i]>y):
    y=list2[i]
print("Second Highest",y)

Second Highest 100

In [ ]:
list1=[0,1,2,4,6,8,9,11]
k=13

for i in range(0,len(list1)):
  for j in range(i+1,len(list1)):
    if(list1[i] + list1[j]==k):
      print(list1[i], list1[j])

2 11
4 9

In [ ]:
# Find above question using 1 loop
# what is time complexity
# how to calculate the time complexity
# enumerate vs zip function(interview)
# list revision
# waht is dictionary and what are its usage

In [ ]:
# Above ques using 1 for loop
list1=[0,1,2,4,6,8,7,11]
k=9

s=0
e= len(list1)-1

while(True):
  if(list1[s]+list1[e]==k):
    print(list1[s], list1[e])
    break
  elif(list1[s]+list1[e]>=k):
    e-=1
  elif(list1[s]+list1[e]<=k):
    s+=1

2 7

In [ ]:
mylist=[10,[20,30]]
mylist[1][0]

20

In [ ]:
# Pascal Triangle      Important ********

mylist=[]
for i in range(0,5):
  templist=[]
  for s in range(i,4):
    print(" ",end="")
  for j in range(0,i+1):
    if(j==0 or j==i):
      templist.append(1)
      print("1",end=" ")
    else:
      templist.append(mylist[i-1][j-1] + mylist[i-1][j])
      print(mylist[i-1][j-1] + mylist[i-1][j],end=" ")
  mylist.append(templist)
  print("")
print(mylist)

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [24]:
# shift the value of first index to next 2 step

list1= [10,20,40,60,7]
shift=52
k=shift%len(list1)  # do module to reduce the for loop iteration
list2=[0]*len(list1)

for i in range(0,len(list1)):
  list2[(i+k)%len(list1)] =list1[i]
  print(list2)

[0, 0, 10, 0, 0]
[0, 0, 10, 20, 0]
[0, 0, 10, 20, 40]
[60, 0, 10, 20, 40]
[60, 7, 10, 20, 40]

In [ ]:
# Tuple
# tuple => immutable
tuple1 = (1,2,3,'hey')

In [ ]:
tuple1 = (1,2,3,'hey')
print(tuple1[2])

3

In [ ]:
tuple1 = (1,2,3,2,2,'hey')
tuple1.count(2)  # it will count how many times specific value come

3

In [25]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)  # creating a tuple with only one item, remember to include a comma after the item, otherwise it will not be identified as a tuple.
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [26]:
# Tuple index() Method
# Search for the first occurrence of the value 8, and return its position:

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(7)
print(x)

2

In [27]:
# Unpacking a Tuple
# When we create a tuple, we normally assign values to it. This is called "packing" a tuple.
# But, in Python, we are also allowed to extract the values back into variables. This is called unpacking.

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [28]:
# Using Asterisk*
# If the number of variables is less than the number of values, you can add an * to the variable name
# and the values will be assigned to the variable as a list:

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(a, b, *c) = fruits

print(a)
print(b)
print(c)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [29]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(a, *b, c) = fruits

print(a)
print(b)
print(c)

apple
['banana', 'cherry', 'strawberry']
raspberry