<a href="https://colab.research.google.com/github/Gursewak-S/Python/blob/main/Day_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# List Datatype
# Collection of element
# stored based on index position
# list mutuable database
#  sequence datatype

x=[10,20,30,"hey",100.1]
print(type(x))

<class 'list'>

In [2]:
mylist=[10,20,30,"hey",100.1]
print(mylist[0])

10

In [3]:
mylist=[10,20,30,"hey",100.1]
print(mylist[1:5])

[20, 30, 'hey', 100.1]

In [4]:
mylist=[10,20,30,"hey",100.1]
print(mylist[-1])

100.1

In [5]:
mylist=[10,20,30,"hey",100.1]
print(mylist[0])

10

In [6]:
mylist=[10,20,30,"hey",100.1]
mylist[2]=90   #update
print(mylist)

[10, 20, 90, 'hey', 100.1]

In [7]:
mylist=[10,20,30,"hey",100.1]
mylist.append(400)       # add new data into list
print(mylist)

[10, 20, 30, 'hey', 100.1, 400]

In [11]:
mylist=[10,20,30,"hey",100.1]
mylist.extend("hello")       # to add multiple value into it but it will not add Integer value
mylist.extend([999,"hello"]) # this happen because extend uses for loop to add value in list as into extend data-
                            # -is written in list it takes index of that list not single char

# mylist.extend(12) # this will show error it will not take integer value

print(mylist)

[10, 20, 30, 'hey', 100.1, 'h', 'e', 'l', 'l', 'o', 999, 'hello']

In [13]:
mylist=[10,20,30,"hey",100.1]
mylist.pop()
print(mylist)

[10, 20, 30, 'hey']

In [14]:
mylist=[10,20,30,"hey",100.1]
mylist.pop(2)
print(mylist)

[10, 20, 'hey', 100.1]

In [15]:
mylist=[10,20,30,"hey",100.1]
x = mylist.pop()
print(mylist)
print(x)

[10, 20, 30, 'hey']
100.1

In [16]:
mylist=[10,20,30,"hey",100.1]
mylist.remove(20) # In remove we give value and in pop we give index
print(mylist)

[10, 30, 'hey', 100.1]

In [19]:
mylist=[10,20,30,"hey",100.1]
mylist.insert(2,500)  # insert is used to add value in certain index
print(mylist)

[10, 20, 500, 30, 'hey', 100.1]

In [17]:
mylist=[10,20,30,"hey",100.1]
for i in mylist:
  print(i)

10
20
30
hey
100.1

In [18]:
mylist=[10,20,30,"hey",100.1]
for i in range(0,len(mylist)):
  print(i, mylist[i])

0 10
1 20
2 30
3 hey
4 100.1

In [22]:
mylist=[10,20,30,"hey",100.1,45]
for i in range(0,len(mylist)):
  if(type(mylist[i])==int):
    print(i, mylist[i])

0 10
1 20
2 30
5 45