<a href="https://colab.research.google.com/github/Gursewak-S/Python/blob/main/Day_12_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Function
# Block of Code
# We can use it for converting your Code into smaller portion of code
# help in reusability
# debugging

In [ ]:
def hello():  # function created
  z="sam"
  print("hello World")
  print("hey", z)

hello()  # function call
# print(z) # We cannot call this bcs its local variable

hello World
hey sam

In [ ]:
def hello(z):  # z => parameter
  print("hey", z)

hello("Amrit")  # Amrit is argument
hello("anmol")

hey Amrit
hey anmol

In [ ]:
xGlobal = 10

def hi():
  print("hi", xGlobal)

hi()
print(xGlobal) # its Global variable

hi 10
10

In [ ]:
xGlobal = 10

def hi():
  xGlobal = "abc" # now is local bcs changes made inside function/ local

  print("hi", xGlobal)

hi()
print(xGlobal)

hi abc
10

In [ ]:
x = 10 #Global variable

def hi():
  global x # this will now change the value of x Globally
  x="abc"
  print("hi", x)

hi()
print(x)

hi abc
abc

In [ ]:
# Valid paranthesis .... Try with dict
# number to roman leetcode
# list Comprehension
# dict Comprehension

In [ ]:
# Valid paranthesis .... Try with dict

In [ ]:
# if we pass any global variable to func an change made inside function doesnt affect global variable

In [ ]:
def func(num1): #num_local=num
  num1. append (30)

#----------------------------
num= [10,20]  # list is mutable so any change made in any function it will also change in global
func (num)
print ("new num:", num)

new num: [10, 20, 30]

In [ ]:
def func(x,y,z):
  print("x:",x, "y:",y, "z:",z)

func(10,20,30) # required argument

func(30,21.22,10)   # 1st check required argument then check positional argument

x: 10 y: 20 z: 30
x: 30 y: 21.22 z: 10

In [ ]:
def func(x,y,z):
  print("x:",x, "y:",y, "z:",z)

func(z = 30, y=21.22,x=10)  # Keyword argument

# If we use positional and Keyword argument both at same so we have to write positional argument first
func(30, z=21.22,y=10)

# func(z=30, 21.22,y=10) #SyntaxError: positional argument follows keyword argument

x: 10 y: 21.22 z: 30
x: 30 y: 10 z: 21.22

In [ ]:
def func(x,y,z="xyz"):
  print("x:",x, "y:",y, "z:",z)

func(30,y=21,z="abc")  # Default argument

x: 30 y: 21 z: abc

In [ ]:
def prime(num):
  x=0
  for i in range(2,num):
    if(num%i==0):
      x+=1
      break
  if(x==1):
    print("Not Prime")
  else:
    print("Prime no")

prime(5)
prime(8)

Prime no
Not Prime

In [ ]:
def armstrong(num):
  sum=0
  temp=num
  while(num>0):
    rem = num%10
    sum = sum+rem**3
    num = num//10

  if(sum == temp):
    print("Armstrong No")
  else:
    print("Not a Armstrong No")

armstrong(153)
armstrong(120)

Armstrong No
Not a Armstrong No

In [ ]:
def func(x):
  print(x+20)  # print just display the output and return None datatype and we can't store it

y= func(10)  #y = None
print(y)

30
None

In [ ]:
def func(x):
  print(x+10)  # print just display the output and return None datatype and we can't store it
  return "abc" # only retun can give value
# return x+20 this way we can print value in y

y= func(10)  #y = abc
print("y:", y)

20
y: abc

In [ ]:
# Learning assign
# First Class Function Vs high ordered function ........youtube
# virtual Environment .........youtube

In [4]:
def func(eid,name="Amrit"):
  print(f"eid: {eid}, Ename: {name}")

func(10,"Sam")
func(10)

eid: 10, Ename: Sam
eid: 10, Ename: Amrit

In [6]:
# Variable length Argument (*var)
# in this we can give as much value you want
# Drawback is we dont know which value assign to which variable
def func(*data):
  print(data, type(data))

func(10)
func(10,20)
func(10,'abc',40.12)

(10,) <class 'tuple'>
(10, 20) <class 'tuple'>
(10, 'abc', 40.12) <class 'tuple'>

In [8]:
# Keyword Variable length Argument (**var)
# in this we can give as much value you want but with variable

# *args and **kwargs (for interview these var can be used for diff. btn variable length arg and Keyword length arg)

def func(**data):
  print(data, type(data))

func(eid=10)
func(eid=10, salary=20)
func(eid=10, name="abc", salary=20)

{'eid': 10} <class 'dict'>
{'eid': 10, 'salary': 20} <class 'dict'>
{'eid': 10, 'name': 'abc', 'salary': 20} <class 'dict'>

In [10]:

def func(num):
  print(num+20)

y = func(10)
print(y)   # print doesnt return any value it just print and doesnot store

30
None

In [11]:

def func(num):
  print(num+20)
  return "hello"

y = func(10)
print(y)   # it show hello bcs return store value, return value to function call

30
hello

In [15]:
# First Class Function

# Assigned to Variables: We can assign functions to variables.
# Passed as Arguments: We can pass functions as arguments to other functions.
# Returned from Functions: Functions can return other functions.
# Stored in Data Structures: Functions can be stored in data structures such as lists, dictionaries, etc.

def func():
  print("Hello world")

x= func  # we have assign function to variable (without () to used first class func)
print(func, x)  #both have same memory address

func()
x()  # Now we can use x as to call func

<function func at 0x79cfc012ed40> <function func at 0x79cfc012ed40>
Hello world
Hello world

In [19]:
def square(num):
  print(num**2)

def cube(x,y):
  print("cube", x, y)

cube(10, square(4))
cube(10, square)  # Now Passed as Arguments of First class function

16
cube 10 None
cube 10 <function square at 0x79cfc012d940>

In [20]:
def square(num):
  print(num**2)

def cube(x,y):
  print("cube", x, y)
  y(5)

cube(10, square)  # Now Passed as Arguments of First class function

cube 10 <function square at 0x79cfc012f380>
25

In [22]:
def square(num):
  print(num**2)

def cube(x,y):
  print("cube", x, y(4)) # y value is none bcs it uses print
  print("cube", x, y(x))

cube(10, square)

16
cube 10 None
100
cube 10 None

In [23]:
def square(num):
  return (num**2) # now uses return

def cube(x,y):
  print("cube", x, y(4))
  print("cube", x, y(x))

# if a function is passed as parameter to another function is also known as High order Function
# All High order function are First Class func but not vice versa
cube(10, square)

cube 10 16
cube 10 100

In [ ]:
# Category A1
# 1. 3 Sum leetcode
# 2. 2 Sum II
# 3. best Time to buy and sell stock
# pyramid question

# category A2
# Pattern
#  Nested loop overview
# -take a number from 2 to 5 and print its table
# -take a number from 6 to 2 and print its table
# -take a number from 6 to 2 and print its table in reverse eg- 60 54 48 42 36 30 24 18 12 6

# check a number is prime no or not
# take a range of value from 2 to 9 and print all prime no
# read about list and check all its function append, pop, sort, insert()