<a href="https://colab.research.google.com/github/Gursewak-S/Python/blob/main/Day_7_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Call by object refernce

a=10
b=a
print(id(a),id(b)) #in this both have same memory address

a=20
print(id(a),id(b)) # as the data change in 'a' the memory address change in a but not in b as numeric is immutable

10751144 10751144
10751464 10751144

In [2]:
# Dictionary datatype
# Key and value
# key => unique (identifier)
# value => duplicate or unique
# mutuable datatype
# no index position
# ordered collection of element

# it uses key not index value to perform certain function like pop, update,

In [4]:
mydictionary = {1: "sam", 2: "aman", "city": "jaipur"} # format Key : value
print(mydictionary)
len(mydictionary)

{1: 'sam', 2: 'aman', 'city': 'jaipur'}

3

In [9]:
mydictionary = {1: "sam", 2: "aman", "city": "jaipur"}
print(mydictionary[2])  # it doennot follow index it uses Key to call value
print(mydictionary["city"])

mydictionary[2] = "honey"  # Update the value
print(mydictionary[2])

mydictionary[5] = "Amrit" # it will insert new value if it doesnt have key enter in []
print(mydictionary)

aman
jaipur
honey
{1: 'sam', 2: 'honey', 'city': 'jaipur', 5: 'Amrit'}

In [11]:
mydictionary = {1: "sam", 2: "aman", "city": "jaipur"}

help(mydictionary)  # to find all the datatype function we can use on dictionary

In [12]:
mydictionary = {1: "sam", 2: "aman", "city": "jaipur"}

for i in mydictionary:
  print(i, mydictionary[i])

1 sam
2 aman
city jaipur

In [27]:
mydictionary = {1: "sam", 2: "aman", "city": "jaipur"}

for i in mydictionary.keys(): # it will print only keys
  print(i)

print("")

for i in mydictionary.values(): # it will print only values
  print(i)

print("")

for i in mydictionary.items(): # it will print both key and values in tuples form
  print(i)

print("")

for i in mydictionary.items(): # it will print both key and values in tuples form
  print(i, i[0])   # 0 will print key , 1 will print values

1
2
city

sam
aman
jaipur

(1, 'sam')
(2, 'aman')
('city', 'jaipur')

(1, 'sam') 1
(2, 'aman') 2
('city', 'jaipur') city

In [24]:
# in tuple

x= (10,20)
a=x[0]
b=x[1]
print(a,b)

# Short way to assign value

x= (10,20,30)
a,b,c = x    # tuple unpacking
print(a,b,c)

10 20
10 20 30

In [28]:
mydict = {"x" : 100}
mydict["x"] += 50
print(mydict)

{'x': 150}

In [31]:
mydict = {"count" : 0}
str1= "hello"

for i in str1:
  mydict["count"] +=1

print(mydict)

{'count': 5}

In [34]:
mydict = {"count" : 0}
str1= "hello heyadf"

for i in range(0,len(str1)):
  if(str1[i] in 'aeiou'):
    mydict["count"] +=1

print(mydict)

{'count': 4}

In [36]:
mydict = {}
str1= "hey"

for i in str1:
    mydict[i] = 1

print(mydict)

{'h': 1, 'e': 1, 'y': 1}

In [38]:
# wap to add value in dict. and if the character repeat the add in same value its repition

mydict = {}
str1= "heeey"

for i in str1:
  if i not in mydict:
    mydict[i] = 1
  else:
    mydict[i] += 1

print(mydict)

{'h': 1, 'e': 3, 'y': 1}

In [41]:
mydict = {}
str1= "heeey heaaeio"

for i in str1:
  if(i in 'aeiou'):
    if i not in mydict:
      mydict[i] = 1
    else:
      mydict[i] += 1

print(mydict)

{'e': 5, 'a': 2, 'i': 1, 'o': 1}

In [54]:
list1 = [1,2,3,7,11,13]
mydict = {}
k=9

for i in range(0,len(list1)):
  mydict[list1[i]] = i

print(mydict)

for j in list1:
  if k-j in mydict:
    print(j,k-j)

{1: 0, 2: 1, 3: 2, 7: 3, 11: 4, 13: 5}
2 7
7 2