<a href="https://colab.research.google.com/github/Gursewak-S/Python/blob/main/List_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Write a program to print the first 25 odd numbers in list

list1 = []
count=1
i=0
while(count<=25):
  if(i%2!=0):
    list1.append(i)
    count+=1
  i+=1

print(list1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [ ]:
# 2. Arrange string characters such that lowercase letters should come first

str="aEksiRBjrQ"
mylist=[]
mylist2=[]

for i in range(0,len(str)):
  if(ord(str[i])>=97 and ord(str[i])<123):
    mylist.append(str[i])
  elif(ord(str[i])>=65 and ord(str[i])<91):
    mylist2.append(str[i])

print(mylist+mylist2)

['a', 'k', 's', 'i', 'j', 'r', 'E', 'R', 'B', 'Q']

In [ ]:
from string import digits
# 3. Count all letters, digits, and special symbols from a given string
# a. given-->str1 = "P@#yn26at^&i5ve"
# b. expected-->Total counts of chars, digits, and symbols

str = "P@#yn26at^&i5ve"
digit=0
char=0
symbol=0

for i in range(0,len(str)):
  if(ord(str[i])>=48 and ord(str[i])<58):
    digit+=1
  elif((ord(str[i])>=65 and ord(str[i])<91) or (ord(str[i])>=97 and ord(str[i])<123)):
    char+=1
  else:
    symbol+=1

print("Total char: ", char)
print("Total Symbol: ", symbol)
print("Total digit: ", digit)

Total char:  8
Total Symbol:  4
Total digit:  3

In [ ]:
# 4. Remove empty strings from a list of strings

mylist1= ['h', ' ', 'W']

for i in mylist1:
  if(ord(i)==32):
    mylist1.remove(i)

print(mylist1)

['h', 'W']

In [ ]:
# 5. Remove special symbols / punctuation from a string

str = "P!@#yn26at^&i5ve"
mylist=[]

for i in range(0,len(str)):
  if(ord(str[i])>=48 and ord(str[i])<58):
    mylist.append(str[i])
  elif((ord(str[i])>=65 and ord(str[i])<91) or (ord(str[i])>=97 and ord(str[i])<123)):
    mylist.append(str[i])


print(mylist)

['P', 'y', 'n', '2', '6', 'a', 't', 'i', '5', 'v', 'e']

In [ ]:
# 6. Removal all characters from a string except integers
# a. str1 = 'I am 25 years and 10 months old'
# b. expected-->2510


str = 'I am 25 years and 10 months old'
str2=''
for i in range(0,len(str)):
  if(ord(str[i])>=48 and ord(str[i])<58):
    str2 += str[i]

print(str2)

2510

In [ ]:
# 7. extract the email service provider name
# a. emaillist=["KSR@datavizion.com","mymail@yahoo.com","milindmali@google.com","snehal@health

emaillist=["KSR@datavizion.com","mymail@yahoo.com","milindmali@google.com","snehal@health.com"]
mylist=[]
for i in range(0,len(emaillist)):
  str=''
  for j in range(0, len(emaillist[i])):
    if(emaillist[i][j] == '@'):
      for k in range(j+1,len(emaillist[i])):
        if(emaillist[i][k] == '.'):
          break
        else:
          str += emaillist[i][k]
      mylist.append(str)

print(mylist)

['datavizion', 'yahoo', 'google', 'health']

In [72]:
# 8. extract all the emailid for the given string
# a. string="Hi my name is Govind Das and my mail id is milindmali108@gmail.com and my org
# b. Output => milindmali108@gmail.com

str="Hi my name is Govind Das and my mail id is milindmali108@gmail.com and my org"
str2=''
e=0
for i in range(0, len(str)):
  if(str[i]==' '):
    s=i
  if(str[i]=='@'):
    start = s
    for j in range(i, len(str)):
      if(str[j]==' '):
        end=j
        break

for k in range(start+1,end):
  str2 += str[k]

print(str2)

milindmali108@gmail.com

In [86]:
# 9. Create a Python set such that it shows the element from both lists in a pair
# a. first_list = [2, 3, 4, 5, 6, 7, 8]
# b. second_list = [4, 9, 16, 25, 36, 49, 64]
# c. Result is {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

print("{",end="")
for i in range(0,len(first_list)):
  for j in range(i,len(second_list)):
    if(second_list[j] % first_list[i] == 0):
      print('(',first_list[i],",",second_list[j],")", end="")
      break
      print(",",end="")
print("}",end="")

{( 2 , 4 )( 3 , 9 )( 4 , 16 )( 5 , 25 )( 6 , 36 )( 7 , 49 )( 8 , 64 )}

In [91]:
# 10. Write a program to reverse a List in Python
# a. list = [4, 5, 6, 7, 8, 9]
# b. Output => [9, 8, 7, 6, 5, 4]

list1 = [4, 5, 6, 7, 8, 9]
list2 =[]

for i in range(len(list1)-1,-1,-1):
  list2.append(list1[i])

print(list2)

[9, 8, 7, 6, 5, 4]

In [95]:
# 11. Write a program to clone or copy the list:

list1 = [8,1,3,42,92,24,51,6]
list2 =[]

for i in range(0,len(list1)):
  list2.append(list1[i])

print("Original : ",list1)
print("Copy list: ",list2)

Original :  [8, 1, 3, 42, 92, 24, 51, 6]
Copy list:  [8, 1, 3, 42, 92, 24, 51, 6]

In [98]:
# 12. Write a program to get sum of number of digit in a list

list1 = [4, 5, 6, 7, 8, 9]
sum=0

for i in range(0,len(list1)):
  sum += list1[i]

print(sum)

39

In [106]:
# 13. Write a program to get the smallest number in a list
# Note => without using reverse(), sort() and slicing operator

list1 = [4, 5, 3, 6, 7, 8, 9]
s=list1[0]

for i in range(1,len(list1)):
  if(s > list1[i]):
    s = list1[i]

print("Smallest number is",s)

Smallest number is 3

In [107]:
# 14. Write a program to print the count of even and odd number from a list

list1 = [4, 5, 3, 6, 7, 8, 9]
even=0
odd=0
for i in range(0,len(list1)):
  if(list1[i] % 2 == 0):
    even+=1
  else:
    odd+=1

print("Even No:",even)
print("Odd No:",odd)

Even No: 3
Odd No: 4

In [129]:
# 15. Write a program to get count of unique values inside a list
# a. input_list = [1, 2, 2, 5, 8, 4, 4, 8]
# b. Output => 5

input_list = [1, 2, 2, 5, 8, 4, 4, 8]
new_list = []
count=0

for i in range(0,len(input_list)):
  unique = 0
  for j in range(i+1,len(input_list)):
    if(input_list[i] == input_list[j]):
      unique = 1
      break
  if (unique==0):
    new_list.append(input_list[i])

for k in new_list:
  count+=1

print(count)

5