<a href="https://colab.research.google.com/github/Gursewak-S/Python/blob/main/Pattern_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,5):
  for s in range(1,i):
    print(" ", end="")
  for j in range(1,5):
    print("*", end="")
  print("")

****
 ****
  ****
   ****

In [9]:
for i in range(1,5):
  for j in range(1,7):
    if(i==1 or i==4 or j==1 or j==6):
      print("*",end="")
    else:
      print(" ",end="")
  print("")

******
*    *
*    *
******

In [ ]:
for i in range(1,6):
  ch=65
  for j in range(0,i):
    print(chr(ch+j),end='')
  print("")

A
AB
ABC
ABCD
ABCDE

In [ ]:
ch=65
for i in range(1,6):
  for j in range(0,i):
    print(chr(ch),end='')
  print("")
  ch +=1

A
BB
CCC
DDDD
EEEEE

In [ ]:
for i in range(0,6):
  ch=70
  ch-=i
  for j in range(0,i):
    print(chr(ch),end='')
    ch +=1
  print("")

E
DE
CDE
BCDE
ABCDE

In [ ]:
for i in range(0,5):
  for s in range(4,i,-1):
    print(" ",end="")
  for j in range(0,i+1):
    print("*",end="")
  print("")

    *
   **
  ***
 ****
*****

In [ ]:
for i in range(0,5):
  for s in range(4,i,-1):
    print(" ",end="")
  for j in range(0,i+1):
    print(j+1,end="")
  print("")

    1
   12
  123
 1234
12345

In [ ]:
for i in range(0,5):
  for s in range(0,i):
    print(" ",end="")
  for j in range(0,5-i):
    print(j+1,end="")
  print("")

12345
 1234
  123
   12
    1

In [ ]:
for i in range(0,5):
  ch=65
  for s in range(0,i):
    print(" ",end="")
  for j in range(0,5-i):
    print(chr(ch),end="")
    ch+=1
  print("")

ABCDE
 ABCD
  ABC
   AB
    A

In [ ]:
for i in range(0,5):
  for s in range(4,i,-1):
    print(" ",end="")
  for j in range(0,5):
    print("*",end="")
  print("")

    *****
   *****
  *****
 *****
*****

In [ ]:
for i in range(0,5):
  for s in range(4,i,-1):
    print(" ",end="")
  for j in range(0,5):
    print(j+1,end="")
  print("")

    12345
   12345
  12345
 12345
12345

In [ ]:
for i in range(0,5):
  ch=65
  for s in range(4,i,-1):
    print(" ",end="")
  for j in range(0,5):
    print(chr(ch),end="")
    ch+=1
  print("")

    ABCDE
   ABCDE
  ABCDE
 ABCDE
ABCDE

In [ ]:
for i in range(1,8,2):
  for s in range(i,7,2):
    print(" ",end="")
  for j in range(1,i+1):
    print("*",end="")
  print("")

   *
  ***
 *****
*******

In [ ]:
for i in range(1,8,2):
  for s in range(i,8,2):
    print(" ",end="")
  for j in range(1,i+1):
    if(i==7 or j==1 or j==i):
      print("*",end="")
    else:
      print(" ",end="")
  print("")

    *
   * *
  *   *
 *******

In [ ]:
for i in range(1,8,2):
  for s in range(1,i,2):
    print(" ",end="")
  for j in range(i,8,):
    print("*",end="")
  print("")

*******
 *****
  ***
   *

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end="")
  print("")
for i in range(1,4):
  for j in range(i,4):
    print("*",end="")
  print("")

*
**
***
****
***
**
*

In [ ]:
for i in range(1,5):
  for s in range(i,4):
    print(" ",end="")
  for j in range(1,i+1):
    print("*",end="")
  print("")
for i in range(1,4):
  for s in range(0,i):
    print(" ",end="")
  for j in range(i,4):
    print("*",end="")
  print("")

   *
  **
 ***
****
 ***
  **
   *

In [ ]:
for i in range(1,8,2):
  for s in range(i,7,2):
    print(" ",end="")
  for j in range(1,i+1):
    print("*",end="")
  print("")

for i in range(1,6,2):
  for s in range(0,i,2):
    print(" ",end="")
  for j in range(i,6):
    print("*",end="")
  print("")

   *
  ***
 *****
*******
 *****
  ***
   *

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):
  a=1
  for j in range(i,6):
    print(a,end=" ")
    a+=1
  print("")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    if(i==5 or j==1 or j==i):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print("")

1
1 2
1   3
1     4
1 2 3 4 5

In [ ]:
for i in range(1,6):
  x=i
  for s in range(i,5):
    print(" ",end=" ")
  for j in range(1,i+1):
    print(x,end=" ")
    x+=1
  y=x
  y-=2
  for k in range(2,i+1):
    print(y,end=" ")
    y-=1
  print("")

        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [ ]:
for i in range(1,6):
  for s in range(i,5):
    print(" ",end="")
  for j in range(1,i+1):
    if(i==5 or j==1 or j==i):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print("")

    1
   1 2
  1   3
 1     4
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(i,6):
    if(i==1 or j==5 or j==i):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print("")

1 2 3 4 5
2     5
3   5
4 5
5

In [ ]:
for i in range(1,10,2):
  for s in range(i,9,2):
    print(" ",end="")
  for j in range(1,i+1):
    print("*",end="")
  print("")

for i in range(1,8,2):
  for s in range(0,i,2):
    print(" ",end="")
  for j in range(i,8):
    print("*",end="")
  print("")

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
for i in range(1,10,2):
  for s in range(i,9,2):
    print(" ",end=" ")
  for j in range(1,i+1):
    print(j,end=" ")
  print("")

for i in range(1,8,2):
  for s in range(0,i,2):
    print(" ",end=" ")
  for j in range(1,9-i):
    print(j,end=" ")
  print("")

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [4]:
for i in range(1,10,2):
  for s in range(1,i,2):
    print(" ",end=" ")
  for j in range(1,11-i):
    print(j,end=" ")
  print("")

for i in range(2,10,2):
  for s in range(i,8,2):
    print(" ",end=" ")
  for j in range(1,i+2):
    print(j,end=" ")
  print("")

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [5]:
for i in range(1,10,2):
  for s in range(1,i,2):
    print(" ",end=" ")
  ch=65
  for j in range(1,11-i):
    print(chr(ch),end=" ")
    ch+=1
  print("")

for i in range(2,10,2):
  for s in range(i,8,2):
    print(" ",end=" ")
  c=65
  for j in range(1,i+2):
    print(chr(c),end=" ")
    c+=1
  print("")

A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [7]:
for i in range(1,6):
  for j in range(1,6):
    if(i==1 or i==5 or j==1 or j==5):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

* * * * *
*       *
*       *
*       *
* * * * *

In [10]:
for i in range(1,6):
  for j in range(1,6):
    if(i==1 or i==5 or j==1 or j==5):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print("")

1 2 3 4 5
1       5
1       5
1       5
1 2 3 4 5

In [12]:

for i in range(1,6):
  ch=65
  for j in range(1,6):
    if(i==1 or i==5 or j==1 or j==5):
      print(chr(ch),end=" ")
    else:
      print(" ",end=" ")
    ch+=1
  print("")

A B C D E
A       E
A       E
A       E
A B C D E

In [41]:
for i in range(1,6):
  for s in range(i,5):
    print(" ",end="")
  for j in range(1,i+1):
    if(j==1 or j==i):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

for i in range(4,0,-1):
  for s in range(i,5):
    print(" ",end="")
  for j in range(1,i+1):
    if(j==1 or j==i):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [61]:
for i in range(1,10,2):
  ch=65
  for s in range(i,9,2):
    print(" ",end=" ")
  for j in range(1,i+1):
    if(j==1 or j==i):
      print(chr(ch),end=" ")
    else:
      print(" ",end=" ")
    ch+=1
  print("")

for i in range(1,8,2):
  c=65
  for s in range(0,i,2):
    print(" ",end=" ")
  for j in range(i,8):
    if(j==1  or j==7 or j==i):
      print(chr(c),end=" ")
    else:
      print(" ",end=" ")
    c+=1
  print("")

        A
      A   C
    A       E
  A           G
A               I
  A           G
    A       E
      A   C
        A

In [72]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end="")
  for s in range(i,4):
    print(" ",end="")
  for s in range(i,4):
    print(" ",end="")
  for j in range(1,i+1):
    print("*",end="")
  print("")

for i in range(1,4):
  for j in range(i,4):
    print("*",end="")
  for s in range(0,i):
    print(" ",end="")
  for s in range(0,i):
    print(" ",end="")
  for j in range(i,4):
    print("*",end="")
  print("")

*      *
**    **
***  ***
********
***  ***
**    **
*      *

In [80]:
for i in range(1,5):
  for j in range(i,5):
    print("*",end="")
  for s in range(1,i):
    print(" ",end="")
  for s in range(1,i):
    print(" ",end="")
  for j in range(i,5):
    print("*",end="")
  print("")
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end="")
  for s in range(i,4):
    print(" ",end="")
  for s in range(i,4):
    print(" ",end="")
  for j in range(1,i+1):
    print("*",end="")
  print("")

********
***  ***
**    **
*      *
*      *
**    **
***  ***
********

In [81]:
 for i in range(1,6):
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    if(i==5 or j==1 or j==2*i-1 or j==i):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

        *
      * * *
    *   *   *
  *     *     *
* * * * * * * * *