<a href="https://colab.research.google.com/github/Gursewak-S/Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Python ---> Python is a general purpose, interpreted programming language which was invented in 1991 by Guido van Rossoum.

# for Check version
# python --version

In [ ]:
# Fundamentals of Python
# 1. variable
# 2. Datatype
# 3. input(), print()

In [ ]:
# 1. variable ---> This is a container in which we will store values or assign.
a =56
b = 'sam'
c =78.26

# here a,b,c are variable

In [ ]:
# a. Global variable ---> Entirely Modify
# b. Local Variable ---> Specific block of code modify

In [ ]:
# 2. Data type --->
# a. integer --> All Positive or negative value
# ex. 25, 65

# b. Float --> All decimal values
# Ex. 25.6, 45.65

# c. String --> 'Single quote' , "Double Quote", '''Triple Quote'''
# Ex. 'sam', "sam", '''sam'''

# d. Boolean --> True or False
# Ex. 5>4 --> True

In [ ]:
# type() --> using type() , we can check data type.

In [ ]:
type(25)

int

In [ ]:
type(5>4)

bool

In [ ]:
# type-casting --> Using type-casting, we can convert or change value from one data type to another data type.

In [ ]:
a=67
type(a)
b= float(a)
type(b)

float

In [ ]:
# print() --> It will execute our Query on terminal

In [ ]:
a=1
print(a)
b = 2
print(b)

1
2

In [ ]:
# input --> this is a predefined function of python. It will take query from user and send it to the function
#  And its output will be string format by default

In [ ]:
a=1
b = 2
c = a + b
c

3

In [ ]:
a = '1'
b = '2'
c = a + b
c

'12'

In [ ]:
a = input("Enter first number: ")
b = input("Enter Second number: ")
c = a + b
c

Enter first number1
Enter Second number2

'12'

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter Second number: "))
c = a + b
c

Enter first number: 1
Enter Second number: 2

3

In [ ]:
# Commonly used operator
# 1. Add(+) ---> 5+3 = 8
# 2. Sub(-)  ---> 5-3 = 2
# 3. Multiplication(*) ---> 2*4 = 8
# 4. Division(/) ---> 5/2 =2.5
# 5. Floor Division(//) --> 5//2 =2
# 6. MOdule(%) --> For Remainder Calculation --> 25%10 = 5
# 7. Equal to(=) --> For values assignment --> a=5, b='sam'
# 8. Equal Equal to(==) --> for value comparison --> a==4 , 'sam'=='mohit'
# 9. Not equal to(!=)
# 10. Greater than(>)
# 11. Greater than or Equal to(>=)
# 12. Less than(<)
# 13. Less than or Equal to(<=)

In [ ]:
# Conditional Statement in Python
# (1). if
# (2). elif
# (3). else

In [ ]:
# Ex.1
a = input("Enter your name:")

if(a=="sam"):
  print ("yes")
elif(a=="rahul"):
  print("no")
elif(a=="ankit"):
  print ("ok")
else:
  print("Please enter a valid name....")

Enter your name:sam
yes

In [ ]:
# Ex.2
print("We provide these items: pizza, burgur , icecream , sandwich")
print("Pizza:100, burgur:50 , icecream:50 , sandwich:100" )
a = input("Enter your item: ")

if(a=="pizza"):
  print("Pizza is available")
  b = int(input("Please tell me how many pizza you want:"))
  c = b*100
  if(c>=2000):
    print("Your Actual price is: ", с)
    print("Your 20% discounted price is :" , c-(c*0.2))
  elif(1000<c<2000):
    print("Your Actual price is: " , c)
    print("Your 10% discounted price is :" , c-(c*0.1))
  elif(c<1000):
    print("Your total price is :" , c)

elif (a=="burgur"):
    print( "Burgur is available")
    b = int(input("Please tell me how many burgur you want:"))
    c = b*50
    if(c>=2000):
      print("Your Actual price is:", с)
      print("Your 20% discounted price is :" , c-(c*0.2))
    elif(1000<c<2000):
      print("Your Actual price is:" , c)
      print("Your 10% discounted price is :" , c-(c*0.1))
    elif(c<1000):
      print("Your total price is :" , c)

elif(a=="icecream"):
  print("Icecream is available")

elif(a=="sandwich"):
  print("Sandwich is available")

else:
  print("Please enter a valid name....")

We provide these items: pizza, burgur , icecream , sandwich
Pizza:100, burgur:50 , icecream:50 , sandwich:100
Enter your item: icecream
Icecream is available

In [ ]:
a = 100
b = 100*0.1
c = a-b
c

90.0

In [ ]:
# Student Information System
# user (python, java, mern) --> course select (fees, time duration)

name = input("Enter your name: ")
print("Available Courses python, java, mern")
course = input("Enter your course: ")

if(course == "python"):
    print("Time Duration of Course: 3 Month")
    print("Fees: 25000")

elif(course == "java"):
    print("Time Duration of Course: 5 Month")
    print("Fees: 40000")

elif(course == "mern"):
    print("Time Duration of Course: 4 Month")
    print("Fees: 30000")

else:
    print("Please enter a valid course....")

Enter your name: sam
Available Courses python, java, mern
Enter your course: java
Time Duration of Course: 5 Month
Fees: 40000

In [ ]:
# Loop in Python
# 1. For Loop
# 2. While Loop

In [ ]:
# 1. For Loop

# index = 0 , length = 1
# starting_values will include and last_value will exclude

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(3):
  for j in range(2):
    print(f"({i},{j})")

(0,0)
(0,1)
(1,0)
(1,1)
(2,0)
(2,1)

In [ ]:
i = "Sam"
print(f"Hello, {i} Thanku for reaching out")

Hello, Sam Thanku for reaching out

In [ ]:
for i in range(1,6):
  print('*' * i)

*
**
***
****
*****

In [ ]:
for i in range(1,6):
  if i == 1 or i == 5:
    print('*'*i)
  else:
    print('*' + (i-2)*' ' +'*' )

*
**
* *
*  *
*****

In [ ]:
n = 5
for i in range(1, n+1):
  print(' ' * (n-i) + '*' * (2*i-1))

    *
   ***
  *****
 *******
*********

In [ ]:
# 2. While loop

# a. Initialization
# b. Condition
# c. Increment or Decrement

In [ ]:
i = 1 #Initialization
n = 4
while(i<=n): #Condition
  print(i)
  i+=1  #Increment

1
2
3
4

In [ ]:
i = int(input("Enter first number: "))
n = int(input("Enter last number: "))
p = int(input("Enter step number: "))

while(i<=n):
  print(i)
  i+=p

Enter first number: 1
Enter last number: 20
Enter step number: 4
1
5
9
13
17

In [ ]:
i = 5 #Initialization
n = 1
while(i>=n): #Condition
  print(i)
  i-=1  #Decrement

5
4
3
2
1

In [ ]:
# wap to print sum of given range
i = 1
n = 5
sum = 0
while(i<=n):
  sum += i
  i+=1
print(sum)

15

In [ ]:
# wap to find minimum value out of 3 variable

a = 4
b = 2
c = 6

if(a<b and a<c):
  print("a is minimum")
elif(b<a and b<c):
  print("b is minimum")
else:
  print("c is minimum")

b is minimum

In [ ]:
n = int(input("Enter Number: "))

if(n%2==0):
  print("Hi")
elif(n%5==0):
  print("Hello")
else:
  print("Bye")

Enter Number: 15
Hello

In [ ]:
# Take a variable name as age if age is value is greater than 10 then, if greater than 18 adult, 30 mature, 60 old citizen, infant

age = int(input("Enter the age: "))

if(age>=10 and age<18):
  print("Child")
elif(age>=18 and age<30):
  print("Adult")
elif(age>=30 and age<60):
  print("Mature")
elif(age>=60):
  print("Old Citizen")
else:
  print("Infant")

Enter the age: 18
Adult

In [ ]:
age = 19

if(age>5):
  print("Aadhar card created")
  if(age>=18):
    print("Aadhar and pan card is linked")
  else:
    print("PAN CARD NOT CREATED")
else:
  print("Age is small")

Aadhar card created
Aadhar and pan card is linked

In [ ]:
num = 4

if(num%2==0):
  if(num%3==0):
    print("Number is Divisible by 6")
  else:
    print("Number is Divisible by 2")
else:
  print("Number is not Divisible")

Number is Divisible by 2

In [ ]:
# what is the diff btn Python version 2 and version 3

In [ ]:
# String slicing & index
#         ...-4-3-2-1
# city = "RAJASTHAN"
#         012345678

city = "RAJASTHAN"
print(city[0])

R

In [ ]:
city = "RAJASTHAN"
print(city[0:4])

RAJA

In [ ]:
city = "RAJASTHAN"
print(city[0])

R

In [ ]:
city = "RAJASTHAN"
print(city[2:])

JASTHAN

In [ ]:
city = "RAJASTHAN"
print(city[:4])

RAJA

In [ ]:
city = "RAJASTHAN"
print(city[-3])

H

In [ ]:
city = "RAJASTHAN"
print(city[0:4:2])

RJ

In [ ]:
city = "RAJASTHAN"
print(city[2:7:3])

JT

In [ ]:
city = "RAJASTHAN"
print(city[0:4:-1])  # empty String

In [ ]:
city = "RAJASTHAN"
print(city[-1:-3]) # Empty bcs it will add +1
# -1 +1 = 0 So Empty

In [ ]:
city = "RAJASTHAN"
print(city[-1:-3:-1])

NA

In [ ]:
city = "RAJASTHAN"
print(city[:])

city = "RAJASTHAN"
print(city[::-1])

RAJASTHAN
NAHTSAJAR

In [ ]:
# IN normal Division answer come in Float

10/2

5.0

In [ ]:
#  In Floor Division answer come in integer

10//2

5

In [ ]:
11//2+5-1

9

In [ ]:
# Membership operator
"y" in "yash"

False

In [ ]:
"z" in "yash"

False

In [ ]:
"A" in "yash"

False

In [ ]:
"a" not in "yash" # not convert True value to false

False

In [ ]:
# Through List
9 in [1,2,5,8,9,4]

True

In [ ]:
# Identity Operator
# to check whether a variable is a instance of Class or not
#  to check the memory address

x=10
type(x) is int   # int is a datatype which basically is in a class

True

In [ ]:
# bitwise operator
# 0,1
# 8421  => 0-15
# 128 64 32 16    8421  => 0-255

# Eg          8421
#    8        1000
#    14       1110
# ----------------------
#  8 & 14     1000
#             8421

print(8 & 14)

# Eg-2        8421
# 11          1011
# 14          1110
# ----------------------
# 11& 14      1010
#             8421   8+2=10

print(11 & 14)

# Eg-3        8421
# 11          1011
# 14          1110
# ----------------------
# 11& 14      1111
#             8421   8+4+2+1=14

print(11 | 14)

8
10
15

In [ ]:
# number // 2**bit  (right shift in bitwise)
# 54 >> 3
# 54 // 2**3
# 54 // 8 =6

print(54>>3)

# Left shift .. number * 2**bit

print(54 << 3)

6
432

In [ ]:
# There are 7 Operator in Python
# Arithmetic
# comparison
# logical
# assignment
# bitwise
# membership
# Identity

In [ ]:
# For Loop

for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
for i in range(15,9,-1):
  print(i)

15
14
13
12
11
10

In [ ]:
sum=0
for i in range(1,11):
  sum +=i
print(sum)

55

In [ ]:
count = 0
for i in range(69,3,-1):
  count +=1

print(count)

66

In [ ]:
for i in range(1,13):
  if(i%3==0):
    print(i)

3
6
9
12

In [ ]:
even=0
odd=0
for i in range(55,21,-1):
  if(i%2==0):
    even +=i
  else:
    odd +=i
print("Even no: ",even)
print("Odd no: ",odd)

Even no:  646
Odd no:  663

In [ ]:
# What is the diff btn Call by value & Call by reference
# what is ASCII value and UTF value
# Diff Datatype in Python
# Diff btn is operator & == operator