<a href="https://colab.research.google.com/github/Gursewak-S/Python/blob/main/Python_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(0,4):
  for j in range(0,i+1):
    print(j+2, end=" ")
  print("")

2
2 3
2 3 4
2 3 4 5

In [ ]:
num = 65
for i in range(0,3):
  for j in range(0,i+1):
    print(num, end=" ")
    num+=1;
  print("")

65
66 67
68 69 70

In [ ]:
num = 65
for i in range(0,3):
  for j in range(0,i+1):
    print(chr(num), end=" ")
    num+=1;
  print("")

A
B C
D E F

In [ ]:
for i in range(0,4):
  for j in range(i,4):
    print("*", end=" ")
  print("")

* * * *
* * *
* *
*

In [ ]:
for i in range(0,4):
  num=0
  for j in range(i,4):
    print(num, end=" ")
    num+=1
  print("")

0 1 2 3
0 1 2
0 1
0

In [ ]:
num= 10
for i in range(0,5):
  for j in range(i,5):
    print(num, end=" ")
    num+=1
  print("")

10 11 12 13 14
15 16 17 18
19 20 21
22 23
24

In [ ]:
num = 1
for i in range(0,4):
  for j in range(i,4):
    print(num+j, end=" ")
  print("")

1 2 3 4
2 3 4
3 4
4

In [ ]:
for i in range(0,5):
  for j in range(1,6-i):
    print(j%2, end=" ")
  print("")

# or

n=0
for i in range(1,6):
  for j in range(1,6-n):
    print(j%2, end=" ")
  print("")
  n+=1

# or
for i in range(0,5):
  for j in range(0,5-i):
    print((j+1)%2, end=" ")
  print("")

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1
1 0 1 0 1
1 0 1 0
1 0 1
1 0
1
1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [ ]:
num = 1
for i in range(0,5):
  for j in range(0,5-i):
    if(j+1)%2 == 1:
      print(num,end=" ")
    else:
      print("0", end=" ")
  print("")
  num+=1

# or
for i in range(0,5):
  for j in range(0,5-i):
    if(j+1)%2 == 1:
      print(i+1,end=" ")
    else:
      print("0", end=" ")
  print("")

1 0 1 0 1
2 0 2 0
3 0 3
4 0
5
1 0 1 0 1
2 0 2 0
3 0 3
4 0
5

In [ ]:
for i in range(0,4):
  for s in range(i,3):
    print(" ", end=" ")
  for j in range(0,i+1):
    print("*", end=" ")
  print("")

      *
    * *
  * * *
* * * *

In [ ]:
for i in range(0,5):
  for s in range(0,i):
    print(" ", end=" ")
  for j in range(i,5):
    print("*", end=" ")
  print("")

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
for i in range(0,5):
  for s in range(0,i):
    print(" ", end=" ")
  for j in range(i,5):
    if(i==0 or j==4 or i==j ):
      print("*", end=" ")
    else:
      print(" ", end=" ")
  print("")

* * * * *
  *     *
    *   *
      * *
        *

In [ ]:
for i in range(0,5):
  for j in range(i,5):
    if(i==0 or j==4 or i==j ):
      print("*", end=" ")
    else:
      print(" ", end=" ")
  print("")

* * * * *
*     *
*   *
* *
*

In [ ]:
num=1
for i in range(0,5):
  for j in range(i,5):
    if(i==0 or j==4 or i==j ):
      print(num, end=" ")
    else:
      print(" ", end=" ")
    num+=1
  print("")

1 2 3 4 5
6     9
10   12
13 14
15

In [ ]:
for i in range(0,3):
  for s in range(0,2-i):
    print(" ", end=" ")
  for j in range(0,2*i+1):
    print("*", end=" ")
  print("")

    *
  * * *
* * * * *

In [ ]:
for i in range(1,8,2):
  for s in range(1,i,2):
    print(" ", end=" ")
  for j in range(i,8):
    print("*", end=" ")
  print("")

* * * * * * *
  * * * * *
    * * *
      *

In [ ]:
for i in range(4,0,-1):
  for s in range(i,4):
    print(" ", end=" ")
  for j in range(0,2*i-1):
    print("*", end=" ")
  print("")

* * * * * * *
  * * * * *
    * * *
      *

In [ ]:
# Swapping value method

# a=10
# b=20

# 1.
# temp = a
# a=b
# b= temp

# 2.
#  a,b = b,a

# 3.
# a = a+b
# b = a-b
# a = a-b

In [ ]:
l = [10,20,60,80,9]

for i in range(0,len(l)-1):
  for j in range(i+1, len(l)):
    if(l[i] < l[j]):
      l[i] , l[j] = l[j], l[i]

print("Sorted List: ",l)

Sorted List:  [80, 60, 20, 10, 9]

In [ ]:
prices = [7,1,5,3,6,4]

max=0
for i in range(0,len(prices)):
  for j in range(1,len(prices)):
    if(prices[j]-prices[i] > max):
      max = prices[j]-prices[i]

print(max)

5

In [ ]:
prices = [7,1,5,3,6,4]

i = 0
max = 0
for j in range(1,len(prices)):
    if(prices[j]-prices[i] > max):
      max = prices[j]-prices[i]
    elif(prices[j]<prices[i]):
      if(i<len(prices)):
        i +=1
      else:
        break;

print(max)

# prices = [7, 1, 5, 3, 6, 4]

# min_price = float('inf')  # Initialize to a very large number
# max_profit = 0

# for price in prices:
#     if price < min_price:
#         min_price = price  # Update the minimum price
#     elif price - min_price > max_profit:
#         max_profit = price - min_price  # Calculate profit

# print(max_profit)

# l1=[7,1,5,3,6,4]
# a=0
# b=1
# max1=0
# while(b<len(l1)):
#     if(l1[a]<l1[b]):
#         profit=l1[b]-l1[a]
#         if(profit>max1):
#             max1=profit
#     else:
#         a=b
#     b+=1
# print(max1)

5

In [ ]:
# Sort the list but only with one loop
# Two sum problem
# +one leetcode
# You have been given 2 list having same no of elements and you have to merge both the lsit
  #  by removing the duplicate element but with the single loop but without zip and enamurate

In [ ]:
# Sort the list but only with one loop
l1=[10,20,60,80,9]
a=0
while(a<len(l1)-1):
    if(l1[a]<l1[a+1]):
      l1[a],l1[a+1]=l1[a+1],l1[a]
      a=0
    else:
      a+=1
print(l1)

[80, 60, 20, 10, 9]

In [ ]:
# Two sum problem

nums = [2,7,11,15]
target = 9

for i in range(0,len(nums)-1):
  for j in range(i+1, len(nums)):
    if(nums[i] + nums[j] == target):
      print(i,j)

0 1

In [ ]:
nums = [2,7,11,15]
target = 9

i = 0
j = len(nums)-1

while(i<j):
  if(nums[i] + nums[j] == target):
    print(i,j)
    break;
  elif(nums[i] + nums[j] < target):
    i+=1
  else:
    j-=1

0 1

In [ ]:
# +one leetcode
digits = [1,2,3]
n=0
l =[]
for i in digits:
  n = n*10+i;

n = n+1

while(n>0):
  l.append(n%10)
  n=n//10

l.reverse()
print(l)

[1, 2, 4]

In [ ]:
digits = [1,2,3]
str1=""
res=[]
for i in digits:
    str1+=str(i)
s1=int(str1)+1
for i in str(s1):
    res.append(int(i))
print(res)

[1, 2, 4]

In [ ]:
# You have been given 2 list having same no of elements and you have to merge both the lsit
#  by removing the duplicate element but with the single loop but without zip and enamurate

l1 = [1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7, 8]

output=[]

for i in l1+l2:
  if i not in output:
    output.append(i)

print(output)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 3 Sum Problem

nums = [-1,0,1,2,-1,-4]

nums.sort()
l = []
for i in range(0,len(nums)):
  s = i+1
  e = len(nums)-1

  # This is also called 2 pointer approach like s and e

  while(s<e):
    temp = []
    if(nums[i] + nums[s] + nums[e] == 0):
      temp.extend([nums[i], nums[s], nums[e]])
      if temp not in l:
        l.append(temp)
      s+=1
      e-=1
    elif(nums[i] + nums[s] + nums[e] < 0):
      s+=1
    else:
      e-=1

print(l)

[[-1, -1, 2], [-1, 0, 1]]

In [ ]:
# [10,25,14,6,8,1,78,521,8,654,1,2,521]
# Second higest value
# k highest

l = [10,25,14,6,8,1,78,521,8,654,1,2,521]

l.sort(reverse=True)
k = int(input("Enter Number: "))

i=0
while(i<len(l)-1):
  if(l[i] == l[i+1]):
    l.pop(i+1)
  else:
    i+=1
print(l)

print(f"{k} Element is: {l[k-1]}")

Enter Number: 2
[654, 521, 78, 25, 14, 10, 8, 6, 2, 1]
2 Element is: 521

In [ ]:
# Wap to find the palindrome of String

data = input("Enter Any string: ")
start = 0
end = len(data)-1
x=0                   # Flag variable / indicator variable

while(start<end):
  if(data[start] != data[end]):
    x+=1
    break

  start += 1
  end -= 1

if(x==0):
  print("Palindrome")
else:
  print("Not Palindrome")

Enter Any string: nitin
Palindrome

In [ ]:
n= 5
n1=0
n2=1
print(n1,n2, end=" ")
for i in range(0,n):
  n3=n1+n2
  print(n3, end=" ")
  n1=n2
  n2=n3

0 1 1 2 3 5 8

In [ ]:
for i in range(1,10,2):
  for s in range(1,i,2):
    print(" ",end="")
  for j in range(i,10):
    print("*",end="")
  print()
for x in range(3,10,2):
  for y in range(x,9,2):
    print(" ",end="")
  for z in range(1,x+1):
    print("*",end="")
  print()

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [ ]:
l = []
for i in range(0,5):
  temp=[]
  for j in range(0,i+1):
    if(j==0 or j==i):
      print("1",end="")
      temp.append(1)
    else:
      print(l[i-1][j-1] + l[i-1][j],end="")
      temp.append(l[i-1][j-1]+l[i-1][j])
  l.append(temp)
  print("")

print(l)

# mylist=[]
# for i in range(0,5):
#   templist=[]
#   for s in range(i,4):
#     print(" ",end="")
#   for j in range(0,i+1):
#     if(j==0 or j==i):
#       templist.append(1)
#       print("1",end=" ")
#     else:
#       templist.append(mylist[i-1][j-1] + mylist[i-1][j])
#       print(mylist[i-1][j-1] + mylist[i-1][j],end=" ")
#   mylist.append(templist)
#   print("")
# print(mylist)

1
11
121
1331
14641
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [ ]:
print({x:x+1 for x in range(1,10) if x%2!=0})

{1: 2, 3: 4, 5: 6, 7: 8, 9: 10}

In [ ]:
# HCF/GCD (Greates Common divisor)

a = 12
b = 24

small = min(a,b)
print(small)
i=1
hcf=0
while(i<=small):
  if(a%i==0 and b%i==0):
    hcf=i
  i+=1

#  using for loop
# for i in range(1, small + 1):
#         if a % i == 0 and b % i == 0:
#             hcf = i
print(hcf)

# Another way with built in function
import math
hcf2 = math.gcd(a,b)
print(hcf2)

# Lcm

lcm = (a*b)//hcf
print(lcm)

12
12
12
24

In [ ]:
s= "hello world"
space = s.find(" ")
a = s[0:space]
b = s[space+1:len(s)]

a = a.capitalize()
b = b.capitalize()
s = a+" "+b
print(s)

Hello World

In [ ]:
dict1 = {1000: 'M', 500: 'D',100 : 'C', 50: 'L', 10: 'X',9:'IX',
                    5: 'V', 4: 'IV', 1:'I' }

for i in dict1:
  print(i, dict1[i])

1000 M
500 D
100 C
50 L
10 X
9 IX
5 V
4 IV
1 I

In [ ]:
num1=int(input("Enter the num to convert into roman :"))
dict1={1000:"M",900:"CM",500:"D",400:"CD",100:"C",90:"XC",50:"L",40:"XL",10:"X",9:"IX",5:"V",4:"IV",1:"I"}

roman_num=""
for i in dict1:
  while(num1>=i):
    roman_num+=dict1[i]
    num1-=i
print(roman_num)

Enter the num to convert into roman :1994
MCMXCIV

In [ ]:
str = "{[()]}"

In [ ]:
# identity operator reference to memory address
# python store 0-256 num in cache memory
x=256
a=256
a=x is a
print(id(a),id(x))
a

9692800 10759016

True

In [ ]:
# type hint
# we write z:int for understanding that give int value to z but it can be any type of data

def func(z:int):  # parameter
  print("Hello Sam", z)

func(90) #argument
func("Singh")

Hello Sam 90
Hello Sam Singh

In [ ]:
# learning assign

# Keyword argument
# default argument
# variable length arguments (*args)
# keyword variable length arguments (*kwargs)
# high order
# first class

In [ ]:
q = lambda x: "abc"
print(q(10))

abc

In [ ]:
s = "hell wo"
l = s.split(" ")
print(" ".join(l))

hell wo

In [ ]:
u = lambda x: x.split(" ")[-1]
u("Hi sam")

'sam'

In [ ]:
a = list(map(lambda x: x%2==0 , [10,20,33,44,55]))
a

[True, True, False, True, False]

In [ ]:
# Q1
# l1=[10,20,300]
# l2=[40,50,60]
# {10:40,  20:50,  300:60}
# # note using zip and without zip

l1=[10,20,300]
l2=[40,50,60]

# i = zip(l1,l2)
# print(dict(i))

dict1={}

for i in range(0,len(l1)):
  dict1[l1[i]] = l2[i]

print(dict1)

{10: 40, 20: 50, 300: 60}

In [ ]:
# Q2 {name: marks .. . . . .  ======>} multiple elements
# now take a input from the user for score variable
# - print the key who have more value then the score variable

marks = {"Sam": 58,"Honey": 90,"Manav": 70,"Amrit": 96,"Aman": 85}
d={}
score = int(input("Enter the score : "))
print(f"Students who scored more then {score} is :", end="")
for i,j in marks.items():
    if (j>score):
        d[i]=j
print(d)

Enter the score : 80
Students who scored more then 80 is :{'Honey': 90, 'Amrit': 96, 'Aman': 85}

In [ ]:
# Q3 {10:19,  11:20,  13:NONE}
# delete the key-value pair where the value is none

dict1 = {10:19,  11:20,  13:None}

d = {i:j for i,j in dict1.items() if j!=None}
print(d)

{10: 19, 11: 20}

In [ ]:
# Q4:   {"x":5, "y":7, "z":10}
# print new dictionary as square of each key {x:25, y:49,  z:100}

d = {"x":5, "y":7, "z":10}
square = {i:j**2 for i,j in d.items()}
print(square)

{'x': 25, 'y': 49, 'z': 100}

In [ ]:
# Q5
# create a dictionary as cube of number from 1 to 5
# {1:1, 2:8, 3:27, 4:64, 5:125}
# Note use only thing we have learnt

cube = {i:i**3 for i in range(1,6)}
print(cube)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
# Q6 {"x":5, "y":7, "z":10}
# get the ans in new dictionary {"average":7.3 ,   "max":10}

d={"x":5, "y":7, "z":10}

avg = sum(d.values())/len(d)
maxx = sorted(d.values())[-1]
d2={"average":round(avg,1),"max":maxx}
print(d2)

{'average': 7.3, 'max': 10}

In [ ]:
def func():
  print('hi')
  yield "abc"
  print('hey')

In [ ]:
x= func()
next(x)

hi

'abc'

In [ ]:
n = 10
n1= 0
n2= 1
print(n1, n2, end=" ")

for i in range(1,n):
  n3 = n1+n2
  print(n3, end=" ")
  n1 = n2
  n2= n3

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
def fibo(n):
    a, b =0,1
    for i in range(n):
        yield a
        a, b = b, a + b
n=10
for num in fibo(n):
    print(num , end = " ")

0 1 1 2 3 5 8 13 21 34

In [ ]:
# decorators= it is a design pattern which allows us to add a functionalaty to a object without modifing the structure
# a is basically a pattern which is used for the behaviour of the function without changing the code

In [ ]:
# closer vs decorator  ****imp

In [22]:
# what is closure
# => closure is basically a func that remember the environment of outer func
# => simple meaning => any inner func or nested func can access the var of outer func
# lexical scope is nested value

def func_add(num):
    def add_one(n):
        print("n value",n,num)
    return add_one
x=func_add(1)
x(10)

n value 10 1

In [23]:
def func_add(func):
    def add_one():
        result=func()
        result2=result.upper()
        # print("inside add_one func value => ",result2)
        return result2
    return add_one

# normal func
def test():
    return "hello AnmOL"

test=func_add(test)
test()

'HELLO ANMOL'

In [24]:
def func_add(func):
    def add_one():
        result=func()
        result2=result.upper()
        # print("inside add_one func value => ",result2)
        return result2
    return add_one

# normal func

@func_add
def test():
    return "hello AnmOL"

test()

'HELLO ANMOL'

In [ ]:
# learning assignemnt
# decorator generator function
# what is closure
# diff b/w closure and decorators